* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[data-theme='dark'] {
    --background: #444444;
    --primary: #DA0037;
    --text: #EDEDED;
    --linksEffect: #D49B54;
}

[data-theme='light'] {
    --background: #FFF1DC;
    --primary: #3A98B9;
    --text: #08041ca4;
    --linksEffect: #0b0b08;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    color: var(--text);
}

/* TODO HEADER */

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 20px;
    margin-bottom: 20px;
    background-color: var(--primary);
}

#headerTitle {
    width: 50%;
    display: flex;
    justify-content: end;
    margin-left: 100px;
}

/* TODO MODO OSCURO */

#sectionSwitch {
    width: 50%;
    display: flex;
    justify-content: end;
}

.darkModeSwitch {
    background-color: var(--background);
    display: flex;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    justify-content: space-between;
    margin-right: 30px;
    align-items: center;
    padding: 5px;
}

i.fa-regular.fa-moon,
i.fa-regular.fa-sun {
    color: var(--text);
    border: 1px solid var(--background);
    padding: 3px;
    border-radius: 30px;
    background-color: var(--background);
}


/* TODO MAIN */

main {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

main section {
    display: flex;
    justify-content: center;
}

main form {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: fit-content;
}

form label {
    margin-top: 10px;
}

form label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    background-color: var(--background);
    color: var(--text);
    border: 1px solid var(--text);
    border-radius: 10px;
    padding-inline: 10px;
    width: 200px;
}

form select {
    width: fit-content;
    background-color: var(--background);
    border-radius: 10px;
    color: var(--text);
    border: 1px solid var(--text);
    width: 200px;
}

form select option {
    background-color: var(--background);
    color: var(--text);
}

#submit {
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
}

#submit:hover {
    background-color: var(--text);
    color: var(--background);
    border: 1px solid var(--background);
}

/* TODO TABLE */

table {
    margin-top: 50px;
    margin-bottom: 100px;
}

.theadTable {
    background-color: var(--primary);
    table-layout: auto;
    width: 200px;
}

.trTbody {
    text-align: center;
    cursor: pointer;
}

.trTbody:hover {
    background-color: var(--text);
    color: var(--primary);
}

.tdTable {
    border-inline: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    padding-inline: 10px;
}

.contButton {
    border: none;
}

.eliminar {
    background-color: var(--primary);
    color: var(--text);
    border: 1px solid var(--primary);
    padding: 100%;
    cursor: pointer;
}

.eliminar:hover {
    background-color: var(--background);
    color: var(--text);
    border: 1px solid var(--primary);
}




/* TODO FOOTER */

footer {
    border-top: 2px solid var(--primary);
    display: flex;
    justify-content: center;
}

footer section {
    margin-top: 30px;
}

footer section article {
    display: flex;
    align-items: center;
}

.links {
    color: var(--text);
    margin-inline: 20px;
    font-size: 50px;
    position: relative;

}

.links::before {
    content: "";
    background-color: var(--linksEffect);
    mix-blend-mode: color-burn;
    width: calc(100% + 20px);
    position: absolute;
    height: 0;
    left: -14px;
    top: -5px;
    border-radius: 40px;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.links:hover::before {
    width: calc(100% + 30px);
    height: calc(100%);
    padding-bottom: 10px;
}

#github:hover {
    transition: .3s;
    color: rgb(186, 24, 214);
}

#linkedin:hover {
    transition: .3s;
    color: rgb(255, 255, 255);
}

#whatsapp:hover {
    transition: .3s;
    color: #00ff00;
}

#mail:hover {
    transition: .3s;
    color: white;
}