* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[data-theme='dark'] {
    --background: #000;
    --primary: #23d423;
    --text: #5234f3;
}
[data-theme='light'] {
    --background: #fff;
    --primary: #5d12c5;
    --text: #08041c;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    color: var(--text);
}

/* TODO HEADER */

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 20px;
    margin-bottom: 20px;
}

#headerTitle {
    width: 50%;
    display: flex;
    justify-content: end;
}

/* TODO MODO OSCURO */

#sectionSwitch {
    width: 50%;
    display: flex;
    justify-content: end;
}

.darkModeSwitch {
    background-color: var(--primary);
    display: flex;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 30px;
    justify-content: space-between;
    margin-right: 30px;
    align-items: center;
}

.darkModeSwitch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    color: var(--primary);
    background: none;
}

i.fa-regular.fa-moon, i.fa-regular.fa-sun {
    color: var(--background);
}

.darkModeSwitch::after {
    display: block;
    background: var(--text);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 48px;
    transition: all .5s ease;
    content: "";
}

.darkModeSwitch.active {
    background-color: var(--primary);
}

.fa-regular.fa-sun,.fa-regular.fa-moon {
    padding: 0;
    background: none;
}

.darkModeSwitch.active::after {
    left: unset;
    right: 0;
}






