* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[data-theme='dark'] {
    --background: #352F44;
    --primary: #910A67;
    --text: #FAF0E6;
}
[data-theme='light'] {
    --background: #fff;
    --primary: #5d12c5;
    --text: #08041c;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    color: var(--text);
}

/* TODO HEADER */

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 20px;
    margin-bottom: 20px;
    background-color: var(--primary);
}

#headerTitle {
    width: 50%;
    display: flex;
    justify-content: end;
}

/* TODO MODO OSCURO */

#sectionSwitch {
    width: 50%;
    display: flex;
    justify-content: end;
}

.darkModeSwitch {
    background-color: var(--background);
    display: flex;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    justify-content: space-between;
    margin-right: 30px;
    align-items: center;
    padding: 5px;
}

i.fa-regular.fa-moon, i.fa-regular.fa-sun {
    color: var(--text);
    border: 1px solid var(--background);
    padding: 3px;
    border-radius: 30px;
    background-color: var(--background);
}




